 body {
	  font-family: 'Montserrat', sans-serif;
	  background-color: #1e1e1e;
	  overflow-x: hidden;
	  margin: 0;
      padding: 0;
	  color: white;
    }

	footer {
	  position: absolute;
      height: auto;
      width: 100%;
      left: 0;
      background-color: #24252d;
      color: white;
      text-align: left;
      padding: 10px 20px 10px 20px;
      font-size: 10px;
	}
	
	a {
	  color: white;
	}
	
	a:hover {
      color: yellow;
    }
	
	.btn-outline-secondary{
		background-color: white;
	}
	
	nav {
	  background-color: #24252d;
	  color: white;
	  margin: 0px 0px 10px 0px;
	  padding: 5px;
	
	}
	ul {
	  list-style-type: none;
	  text-align: center;
	  margin: 5px;
	}
	
	#ui-id-1{
		padding-top: 5px;
	}
	
	li {
	  display: inline;
	}
	
	li:not(:first-child) {
	  padding-left: 20px;
	}

  .custom-combobox{
    position: absolute;
    left: 0;
    z-index: 10000000000000;
  }
	
    .custom-combobox-toggle {
      height: 1.7em;
      margin-top: -0.15em;
      margin-left: -1px;
    }
    .custom-combobox-input {
      padding: .2em .5em;
    }
    #ui {
      display: none;
    }
	
    .nowrap {
      white-space: nowrap;
      margin-top: 1em;
      margin-right: 1em;
      display: inline-block;
    }
	
    .loading {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    .loading img{
      width: 80px;
      height: 80px;
      animation: loading linear 1s infinite;
    }

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }
      12.4% {
        transform: rotate(0deg);
      }
      12.5% {
        transform: rotate(45deg);
      }
      24.9% {
        transform: rotate(45deg);
      }
      25% {
        transform: rotate(90deg);
      }
      37.4% {
        transform: rotate(90deg);
      }
      37.5% {
        transform: rotate(135deg);
      }
      49.9% {
        transform: rotate(135deg);
      }
      50% {
        transform: rotate(180deg);
      }
      62.4% {
        transform: rotate(180deg);
      }
      62.5% {
        transform: rotate(225deg);
      }
      74.9% {
        transform: rotate(225deg);
      }
      75% {
        transform: rotate(270deg);
      }
      87.4% {
        transform: rotate(270deg);
      }
      87.5% {
        transform: rotate(315deg);
      }
      99.9% {
        transform: rotate(315deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
	
    #size-label, #scale-label, #offsetX-label, #offsetY-label {
      color:#f6931f;
	  margin-left: 0.3em;
    }
	
    .ui-autocomplete {
      max-height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
	  text-align: left;
    }
	
    .ui-slider {
      display : inline-block;
      width: 175px;
      margin: .3em;
      position: relative;
      top: .3em;
    }
	
	[class*="col-2"] {
		margin-bottom: 10px;

}
	
    iframe {
      max-width: 100%;
      overflow: hidden;
    }

	.ui-menu .ui-menu-item-wrapper {
	  margin-top: -7px;
	  margin-bottom: -7px;
	}
	
