.c000_01 .background{
    background: url('../static/images/chara/c000_01.webp') no-repeat scroll center center transparent !important;
}

.c000_10 .background{
    background: url('../static/images/chara/c000_10.webp') no-repeat scroll center center transparent !important;
}

.c000_11 .background{
    background: url('../static/images/chara/c000_11.webp') no-repeat scroll center center transparent !important;
}

.c000_12 .background{
    background: url('../static/images/chara/c000_12.webp') no-repeat scroll center center transparent !important;
}

.c000_13 .background{
    background: url('../static/images/chara/c000_13.webp') no-repeat scroll center center transparent !important;
}

.c000_14 .background{
    background: url('../static/images/chara/c000_14.webp') no-repeat scroll center center transparent !important;
}

.c000_15 .background{
    background: url('../static/images/chara/c000_15.webp') no-repeat scroll center center transparent !important;
}

.c000_16 .background{
    background: url('../static/images/chara/c000_16.webp') no-repeat scroll center center transparent !important;
}

.c000_17 .background{
    background: url('../static/images/chara/c000_17.webp') no-repeat scroll center center transparent !important;
}

.c000_18 .background{
    background: url('../static/images/chara/c000_18.webp') no-repeat scroll center center transparent !important;
}

.c001_01 .background{
    background: url('../static/images/chara/c001_01.webp') no-repeat scroll center center transparent !important;
}

.c001_02 .background{
    background: url('../static/images/chara/c001_02.webp') no-repeat scroll center center transparent !important;
}

.c001_10 .background{
    background: url('../static/images/chara/c001_10.webp') no-repeat scroll center center transparent !important;
}

.c001_11 .background{
    background: url('../static/images/chara/c001_11.webp') no-repeat scroll center center transparent !important;
}

.c001_12 .background{
    background: url('../static/images/chara/c001_12.webp') no-repeat scroll center center transparent !important;
}

.c001_14 .background{
    background: url('../static/images/chara/c001_14.webp') no-repeat scroll center center transparent !important;
}

.c001_16 .background{
    background: url('../static/images/chara/c001_16.webp') no-repeat scroll center center transparent !important;
}

.c001_17 .background{
    background: url('../static/images/chara/c001_17.webp') no-repeat scroll center center transparent !important;
}

.c002_00 .background{
    background: url('../static/images/chara/c002_00.webp') no-repeat scroll center center transparent !important;
}

.c002_01 .background{
    background: url('../static/images/chara/c002_01.webp') no-repeat scroll center center transparent !important;
}

.c002_02 .background{
    background: url('../static/images/chara/c002_02.webp') no-repeat scroll center center transparent !important;
}

.c002_10 .background{
    background: url('../static/images/chara/c002_10.webp') no-repeat scroll center center transparent !important;
}

.c002_11 .background{
    background: url('../static/images/chara/c002_11.webp') no-repeat scroll center center transparent !important;
}

.c002_12 .background{
    background: url('../static/images/chara/c002_12.webp') no-repeat scroll center center transparent !important;
}

.c003_01 .background{
    background: url('../static/images/chara/c003_01.webp') no-repeat scroll center center transparent !important;
}

.c003_02 .background{
    background: url('../static/images/chara/c003_02.webp') no-repeat scroll center center transparent !important;
}

.c003_10 .background{
    background: url('../static/images/chara/c003_10.webp') no-repeat scroll center center transparent !important;
}

.c003_11 .background{
    background: url('../static/images/chara/c003_11.webp') no-repeat scroll center center transparent !important;
}

.c003_12 .background{
    background: url('../static/images/chara/c003_12.webp') no-repeat scroll center center transparent !important;
}

.c003_13 .background{
    background: url('../static/images/chara/c003_13.webp') no-repeat scroll center center transparent !important;
}

.c003_14 .background{
    background: url('../static/images/chara/c003_14.webp') no-repeat scroll center center transparent !important;
}

.c003_15 .background{
    background: url('../static/images/chara/c003_15.webp') no-repeat scroll center center transparent !important;
}

.c003_16 .background{
    background: url('../static/images/chara/c003_16.webp') no-repeat scroll center center transparent !important;
}

.c003_17 .background{
    background: url('../static/images/chara/c003_17.webp') no-repeat scroll center center transparent !important;
}

.c003_18 .background{
    background: url('../static/images/chara/c003_18.webp') no-repeat scroll center center transparent !important;
}

.c003_89 .background{
    background: url('../static/images/chara/c003_89.webp') no-repeat scroll center center transparent !important;
}

.c004_00 .background{
    background: url('../static/images/chara/c004_00.webp') no-repeat scroll center center transparent !important;
}

.c004_01 .background{
    background: url('../static/images/chara/c004_01.webp') no-repeat scroll center center transparent !important;
}

.c004_02 .background{
    background: url('../static/images/chara/c004_02.webp') no-repeat scroll center center transparent !important;
}

.c005_00 .background{
    background: url('../static/images/chara/c005_00.webp') no-repeat scroll center center transparent !important;
}

.c005_01 .background{
    background: url('../static/images/chara/c005_01.webp') no-repeat scroll center center transparent !important;
}

.c005_02 .background{
    background: url('../static/images/chara/c005_02.webp') no-repeat scroll center center transparent !important;
}

.c007_00 .background{
    background: url('../static/images/chara/c007_00.webp') no-repeat scroll center center transparent !important;
}

.c007_01 .background{
    background: url('../static/images/chara/c007_01.webp') no-repeat scroll center center transparent !important;
}

.c007_02 .background{
    background: url('../static/images/chara/c007_02.webp') no-repeat scroll center center transparent !important;
}

.c008_00 .background{
    background: url('../static/images/chara/c008_00.webp') no-repeat scroll center center transparent !important;
}

.c008_01 .background{
    background: url('../static/images/chara/c008_01.webp') no-repeat scroll center center transparent !important;
}

.c008_02 .background{
    background: url('../static/images/chara/c008_02.webp') no-repeat scroll center center transparent !important;
}

.c009_00 .background{
    background: url('../static/images/chara/c009_00.webp') no-repeat scroll center center transparent !important;
}

.c009_01 .background{
    background: url('../static/images/chara/c009_01.webp') no-repeat scroll center center transparent !important;
}

.c009_02 .background{
    background: url('../static/images/chara/c009_02.webp') no-repeat scroll center center transparent !important;
}

.c010_00 .background{
    background: url('../static/images/chara/c010_00.webp') no-repeat scroll center center transparent !important;
}

.c010_01 .background{
    background: url('../static/images/chara/c010_01.webp') no-repeat scroll center center transparent !important;
}

.c010_02 .background{
    background: url('../static/images/chara/c010_02.webp') no-repeat scroll center center transparent !important;
}

.c011_00 .background{
    background: url('../static/images/chara/c011_00.webp') no-repeat scroll center center transparent !important;
}

.c011_01 .background{
    background: url('../static/images/chara/c011_01.webp') no-repeat scroll center center transparent !important;
}

.c011_02 .background{
    background: url('../static/images/chara/c011_02.webp') no-repeat scroll center center transparent !important;
}

.c012_00 .background{
    background: url('../static/images/chara/c012_00.webp') no-repeat scroll center center transparent !important;
}

.c012_01 .background{
    background: url('../static/images/chara/c012_01.webp') no-repeat scroll center center transparent !important;
}

.c012_02 .background{
    background: url('../static/images/chara/c012_02.webp') no-repeat scroll center center transparent !important;
}

.c013_00 .background{
    background: url('../static/images/chara/c013_00.webp') no-repeat scroll center center transparent !important;
}

.c013_01 .background{
    background: url('../static/images/chara/c013_01.webp') no-repeat scroll center center transparent !important;
}

.c013_02 .background{
    background: url('../static/images/chara/c013_02.webp') no-repeat scroll center center transparent !important;
}

.c014_00 .background{
    background: url('../static/images/chara/c014_00.webp') no-repeat scroll center center transparent !important;
}

.c014_01 .background{
    background: url('../static/images/chara/c014_01.webp') no-repeat scroll center center transparent !important;
}

.c014_02 .background{
    background: url('../static/images/chara/c014_02.webp') no-repeat scroll center center transparent !important;
}

.c015_01 .background{
    background: url('../static/images/chara/c015_01.webp') no-repeat scroll center center transparent !important;
}

.c017_00 .background{
    background: url('../static/images/chara/c017_00.webp') no-repeat scroll center center transparent !important;
}

.c017_01 .background{
    background: url('../static/images/chara/c017_01.webp') no-repeat scroll center center transparent !important;
}

.c017_02 .background{
    background: url('../static/images/chara/c017_02.webp') no-repeat scroll center center transparent !important;
}

.c018_00 .background{
    background: url('../static/images/chara/c018_00.webp') no-repeat scroll center center transparent !important;
}

.c018_01 .background{
    background: url('../static/images/chara/c018_01.webp') no-repeat scroll center center transparent !important;
}

.c018_02 .background{
    background: url('../static/images/chara/c018_02.webp') no-repeat scroll center center transparent !important;
}

.c019_00 .background{
    background: url('../static/images/chara/c019_00.webp') no-repeat scroll center center transparent !important;
}

.c019_01 .background{
    background: url('../static/images/chara/c019_01.webp') no-repeat scroll center center transparent !important;
}

.c019_02 .background{
    background: url('../static/images/chara/c019_02.webp') no-repeat scroll center center transparent !important;
}

.c020_00 .background{
    background: url('../static/images/chara/c020_00.webp') no-repeat scroll center center transparent !important;
}

.c020_01 .background{
    background: url('../static/images/chara/c020_01.webp') no-repeat scroll center center transparent !important;
}

.c020_02 .background{
    background: url('../static/images/chara/c020_02.webp') no-repeat scroll center center transparent !important;
}

.c022_00 .background{
    background: url('../static/images/chara/c022_00.webp') no-repeat scroll center center transparent !important;
}

.c022_01 .background{
    background: url('../static/images/chara/c022_01.webp') no-repeat scroll center center transparent !important;
}

.c022_02 .background{
    background: url('../static/images/chara/c022_02.webp') no-repeat scroll center center transparent !important;
}

.c022_10 .background{
    background: url('../static/images/chara/c022_10.webp') no-repeat scroll center center transparent !important;
}

.c023_00 .background{
    background: url('../static/images/chara/c023_00.webp') no-repeat scroll center center transparent !important;
}

.c023_01 .background{
    background: url('../static/images/chara/c023_01.webp') no-repeat scroll center center transparent !important;
}

.c023_02 .background{
    background: url('../static/images/chara/c023_02.webp') no-repeat scroll center center transparent !important;
}

.c024_00 .background{
    background: url('../static/images/chara/c024_00.webp') no-repeat scroll center center transparent !important;
}

.c024_01 .background{
    background: url('../static/images/chara/c024_01.webp') no-repeat scroll center center transparent !important;
}

.c024_02 .background{
    background: url('../static/images/chara/c024_02.webp') no-repeat scroll center center transparent !important;
}

.c026_00 .background{
    background: url('../static/images/chara/c026_00.webp') no-repeat scroll center center transparent !important;
}

.c026_01 .background{
    background: url('../static/images/chara/c026_01.webp') no-repeat scroll center center transparent !important;
}

.c026_02 .background{
    background: url('../static/images/chara/c026_02.webp') no-repeat scroll center center transparent !important;
}

.c027_00 .background{
    background: url('../static/images/chara/c027_00.webp') no-repeat scroll center center transparent !important;
}

.c027_01 .background{
    background: url('../static/images/chara/c027_01.webp') no-repeat scroll center center transparent !important;
}

.c027_02 .background{
    background: url('../static/images/chara/c027_02.webp') no-repeat scroll center center transparent !important;
}

.c028_00 .background{
    background: url('../static/images/chara/c028_00.webp') no-repeat scroll center center transparent !important;
}

.c028_01 .background{
    background: url('../static/images/chara/c028_01.webp') no-repeat scroll center center transparent !important;
}

.c028_02 .background{
    background: url('../static/images/chara/c028_02.webp') no-repeat scroll center center transparent !important;
}

.c028_10 .background{
    background: url('../static/images/chara/c028_10.webp') no-repeat scroll center center transparent !important;
}

.c029_00 .background{
    background: url('../static/images/chara/c029_00.webp') no-repeat scroll center center transparent !important;
}

.c029_01 .background{
    background: url('../static/images/chara/c029_01.webp') no-repeat scroll center center transparent !important;
}

.c029_02 .background{
    background: url('../static/images/chara/c029_02.webp') no-repeat scroll center center transparent !important;
}

.c030_00 .background{
    background: url('../static/images/chara/c030_00.webp') no-repeat scroll center center transparent !important;
}

.c030_01 .background{
    background: url('../static/images/chara/c030_01.webp') no-repeat scroll center center transparent !important;
}

.c030_02 .background{
    background: url('../static/images/chara/c030_02.webp') no-repeat scroll center center transparent !important;
}

.c031_00 .background{
    background: url('../static/images/chara/c031_00.webp') no-repeat scroll center center transparent !important;
}

.c031_01 .background{
    background: url('../static/images/chara/c031_01.webp') no-repeat scroll center center transparent !important;
}

.c031_02 .background{
    background: url('../static/images/chara/c031_02.webp') no-repeat scroll center center transparent !important;
}

.c032_00 .background{
    background: url('../static/images/chara/c032_00.webp') no-repeat scroll center center transparent !important;
}

.c032_01 .background{
    background: url('../static/images/chara/c032_01.webp') no-repeat scroll center center transparent !important;
}

.c032_02 .background{
    background: url('../static/images/chara/c032_02.webp') no-repeat scroll center center transparent !important;
}

.c033_00 .background{
    background: url('../static/images/chara/c033_00.webp') no-repeat scroll center center transparent !important;
}

.c033_01 .background{
    background: url('../static/images/chara/c033_01.webp') no-repeat scroll center center transparent !important;
}

.c033_02 .background{
    background: url('../static/images/chara/c033_02.webp') no-repeat scroll center center transparent !important;
}

.c034_00 .background{
    background: url('../static/images/chara/c034_00.webp') no-repeat scroll center center transparent !important;
}

.c034_01 .background{
    background: url('../static/images/chara/c034_01.webp') no-repeat scroll center center transparent !important;
}

.c034_02 .background{
    background: url('../static/images/chara/c034_02.webp') no-repeat scroll center center transparent !important;
}

.c035_00 .background{
    background: url('../static/images/chara/c035_00.webp') no-repeat scroll center center transparent !important;
}

.c035_01 .background{
    background: url('../static/images/chara/c035_01.webp') no-repeat scroll center center transparent !important;
}

.c035_02 .background{
    background: url('../static/images/chara/c035_02.webp') no-repeat scroll center center transparent !important;
}

.c036_00 .background{
    background: url('../static/images/chara/c036_00.webp') no-repeat scroll center center transparent !important;
}

.c036_01 .background{
    background: url('../static/images/chara/c036_01.webp') no-repeat scroll center center transparent !important;
}

.c036_02 .background{
    background: url('../static/images/chara/c036_02.webp') no-repeat scroll center center transparent !important;
}

.c036_10 .background{
    background: url('../static/images/chara/c036_10.webp') no-repeat scroll center center transparent !important;
}

.c037_00 .background{
    background: url('../static/images/chara/c037_00.webp') no-repeat scroll center center transparent !important;
}

.c037_01 .background{
    background: url('../static/images/chara/c037_01.webp') no-repeat scroll center center transparent !important;
}

.c037_02 .background{
    background: url('../static/images/chara/c037_02.webp') no-repeat scroll center center transparent !important;
}

.c038_00 .background{
    background: url('../static/images/chara/c038_00.webp') no-repeat scroll center center transparent !important;
}

.c038_01 .background{
    background: url('../static/images/chara/c038_01.webp') no-repeat scroll center center transparent !important;
}

.c038_02 .background{
    background: url('../static/images/chara/c038_02.webp') no-repeat scroll center center transparent !important;
}

.c038_10 .background{
    background: url('../static/images/chara/c038_10.webp') no-repeat scroll center center transparent !important;
}

.c038_11 .background{
    background: url('../static/images/chara/c038_11.webp') no-repeat scroll center center transparent !important;
}

.c039_00 .background{
    background: url('../static/images/chara/c039_00.webp') no-repeat scroll center center transparent !important;
}

.c039_01 .background{
    background: url('../static/images/chara/c039_01.webp') no-repeat scroll center center transparent !important;
}

.c039_02 .background{
    background: url('../static/images/chara/c039_02.webp') no-repeat scroll center center transparent !important;
}

.c040_00 .background{
    background: url('../static/images/chara/c040_00.webp') no-repeat scroll center center transparent !important;
}

.c040_01 .background{
    background: url('../static/images/chara/c040_01.webp') no-repeat scroll center center transparent !important;
}

.c040_02 .background{
    background: url('../static/images/chara/c040_02.webp') no-repeat scroll center center transparent !important;
}

.c041_00 .background{
    background: url('../static/images/chara/c041_00.webp') no-repeat scroll center center transparent !important;
}

.c041_01 .background{
    background: url('../static/images/chara/c041_01.webp') no-repeat scroll center center transparent !important;
}

.c041_02 .background{
    background: url('../static/images/chara/c041_02.webp') no-repeat scroll center center transparent !important;
}

.c043_00 .background{
    background: url('../static/images/chara/c043_00.webp') no-repeat scroll center center transparent !important;
}

.c043_01 .background{
    background: url('../static/images/chara/c043_01.webp') no-repeat scroll center center transparent !important;
}

.c043_02 .background{
    background: url('../static/images/chara/c043_02.webp') no-repeat scroll center center transparent !important;
}

.c043_10 .background{
    background: url('../static/images/chara/c043_10.webp') no-repeat scroll center center transparent !important;
}

.c044_00 .background{
    background: url('../static/images/chara/c044_00.webp') no-repeat scroll center center transparent !important;
}

.c044_01 .background{
    background: url('../static/images/chara/c044_01.webp') no-repeat scroll center center transparent !important;
}

.c044_02 .background{
    background: url('../static/images/chara/c044_02.webp') no-repeat scroll center center transparent !important;
}

.c045_00 .background{
    background: url('../static/images/chara/c045_00.webp') no-repeat scroll center center transparent !important;
}

.c045_01 .background{
    background: url('../static/images/chara/c045_01.webp') no-repeat scroll center center transparent !important;
}

.c045_02 .background{
    background: url('../static/images/chara/c045_02.webp') no-repeat scroll center center transparent !important;
}

.c045_10 .background{
    background: url('../static/images/chara/c045_10.webp') no-repeat scroll center center transparent !important;
}

.c045_11 .background{
    background: url('../static/images/chara/c045_11.webp') no-repeat scroll center center transparent !important;
}

.c045_12 .background{
    background: url('../static/images/chara/c045_12.webp') no-repeat scroll center center transparent !important;
}

.c045_13 .background{
    background: url('../static/images/chara/c045_13.webp') no-repeat scroll center center transparent !important;
}

.c045_89 .background{
    background: url('../static/images/chara/c045_89.webp') no-repeat scroll center center transparent !important;
}

.c047_00 .background{
    background: url('../static/images/chara/c047_00.webp') no-repeat scroll center center transparent !important;
}

.c047_01 .background{
    background: url('../static/images/chara/c047_01.webp') no-repeat scroll center center transparent !important;
}

.c047_02 .background{
    background: url('../static/images/chara/c047_02.webp') no-repeat scroll center center transparent !important;
}

.c048_00 .background{
    background: url('../static/images/chara/c048_00.webp') no-repeat scroll center center transparent !important;
}

.c048_01 .background{
    background: url('../static/images/chara/c048_01.webp') no-repeat scroll center center transparent !important;
}

.c048_02 .background{
    background: url('../static/images/chara/c048_02.webp') no-repeat scroll center center transparent !important;
}

.c048_10 .background{
    background: url('../static/images/chara/c048_10.webp') no-repeat scroll center center transparent !important;
}

.c049_00 .background{
    background: url('../static/images/chara/c049_00.webp') no-repeat scroll center center transparent !important;
}

.c049_01 .background{
    background: url('../static/images/chara/c049_01.webp') no-repeat scroll center center transparent !important;
}

.c049_02 .background{
    background: url('../static/images/chara/c049_02.webp') no-repeat scroll center center transparent !important;
}

.c049_10 .background{
    background: url('../static/images/chara/c049_10.webp') no-repeat scroll center center transparent !important;
}

.c050_01 .background{
    background: url('../static/images/chara/c050_01.webp') no-repeat scroll center center transparent !important;
}

.c050_02 .background{
    background: url('../static/images/chara/c050_02.webp') no-repeat scroll center center transparent !important;
}

.c051_00 .background{
    background: url('../static/images/chara/c051_00.webp') no-repeat scroll center center transparent !important;
}

.c051_01 .background{
    background: url('../static/images/chara/c051_01.webp') no-repeat scroll center center transparent !important;
}

.c051_02 .background{
    background: url('../static/images/chara/c051_02.webp') no-repeat scroll center center transparent !important;
}

.c051_12 .background{
    background: url('../static/images/chara/c051_12.webp') no-repeat scroll center center transparent !important;
}

.c051_21 .background{
    background: url('../static/images/chara/c051_21.webp') no-repeat scroll center center transparent !important;
}

.c052_00 .background{
    background: url('../static/images/chara/c052_00.webp') no-repeat scroll center center transparent !important;
}

.c052_01 .background{
    background: url('../static/images/chara/c052_01.webp') no-repeat scroll center center transparent !important;
}

.c052_02 .background{
    background: url('../static/images/chara/c052_02.webp') no-repeat scroll center center transparent !important;
}

.c053_00 .background{
    background: url('../static/images/chara/c053_00.webp') no-repeat scroll center center transparent !important;
}

.c053_01 .background{
    background: url('../static/images/chara/c053_01.webp') no-repeat scroll center center transparent !important;
}

.c053_02 .background{
    background: url('../static/images/chara/c053_02.webp') no-repeat scroll center center transparent !important;
}

.c053_10 .background{
    background: url('../static/images/chara/c053_10.webp') no-repeat scroll center center transparent !important;
}

.c053_11 .background{
    background: url('../static/images/chara/c053_11.webp') no-repeat scroll center center transparent !important;
}

.c054_00 .background{
    background: url('../static/images/chara/c054_00.webp') no-repeat scroll center center transparent !important;
}

.c054_01 .background{
    background: url('../static/images/chara/c054_01.webp') no-repeat scroll center center transparent !important;
}

.c054_02 .background{
    background: url('../static/images/chara/c054_02.webp') no-repeat scroll center center transparent !important;
}

.c055_00 .background{
    background: url('../static/images/chara/c055_00.webp') no-repeat scroll center center transparent !important;
}

.c055_01 .background{
    background: url('../static/images/chara/c055_01.webp') no-repeat scroll center center transparent !important;
}

.c055_02 .background{
    background: url('../static/images/chara/c055_02.webp') no-repeat scroll center center transparent !important;
}

.c056_00 .background{
    background: url('../static/images/chara/c056_00.webp') no-repeat scroll center center transparent !important;
}

.c056_01 .background{
    background: url('../static/images/chara/c056_01.webp') no-repeat scroll center center transparent !important;
}

.c056_02 .background{
    background: url('../static/images/chara/c056_02.webp') no-repeat scroll center center transparent !important;
}

.c057_00 .background{
    background: url('../static/images/chara/c057_00.webp') no-repeat scroll center center transparent !important;
}

.c057_01 .background{
    background: url('../static/images/chara/c057_01.webp') no-repeat scroll center center transparent !important;
}

.c057_02 .background{
    background: url('../static/images/chara/c057_02.webp') no-repeat scroll center center transparent !important;
}

.c057_10 .background{
    background: url('../static/images/chara/c057_10.webp') no-repeat scroll center center transparent !important;
}

.c057_87 .background{
    background: url('../static/images/chara/c057_87.webp') no-repeat scroll center center transparent !important;
}

.c057_88 .background{
    background: url('../static/images/chara/c057_88.webp') no-repeat scroll center center transparent !important;
}

.c057_89 .background{
    background: url('../static/images/chara/c057_89.webp') no-repeat scroll center center transparent !important;
}

.c058_00 .background{
    background: url('../static/images/chara/c058_00.webp') no-repeat scroll center center transparent !important;
}

.c058_01 .background{
    background: url('../static/images/chara/c058_01.webp') no-repeat scroll center center transparent !important;
}

.c058_02 .background{
    background: url('../static/images/chara/c058_02.webp') no-repeat scroll center center transparent !important;
}

.c060_00 .background{
    background: url('../static/images/chara/c060_00.webp') no-repeat scroll center center transparent !important;
}

.c060_01 .background{
    background: url('../static/images/chara/c060_01.webp') no-repeat scroll center center transparent !important;
}

.c060_02 .background{
    background: url('../static/images/chara/c060_02.webp') no-repeat scroll center center transparent !important;
}

.c061_00 .background{
    background: url('../static/images/chara/c061_00.webp') no-repeat scroll center center transparent !important;
}

.c061_01 .background{
    background: url('../static/images/chara/c061_01.webp') no-repeat scroll center center transparent !important;
}

.c061_02 .background{
    background: url('../static/images/chara/c061_02.webp') no-repeat scroll center center transparent !important;
}

.c061_10 .background{
    background: url('../static/images/chara/c061_10.webp') no-repeat scroll center center transparent !important;
}

.c061_87 .background{
    background: url('../static/images/chara/c061_87.webp') no-repeat scroll center center transparent !important;
}

.c062_00 .background{
    background: url('../static/images/chara/c062_00.webp') no-repeat scroll center center transparent !important;
}

.c062_01 .background{
    background: url('../static/images/chara/c062_01.webp') no-repeat scroll center center transparent !important;
}

.c062_02 .background{
    background: url('../static/images/chara/c062_02.webp') no-repeat scroll center center transparent !important;
}

.c063_00 .background{
    background: url('../static/images/chara/c063_00.webp') no-repeat scroll center center transparent !important;
}

.c063_01 .background{
    background: url('../static/images/chara/c063_01.webp') no-repeat scroll center center transparent !important;
}

.c063_02 .background{
    background: url('../static/images/chara/c063_02.webp') no-repeat scroll center center transparent !important;
}

.c064_00 .background{
    background: url('../static/images/chara/c064_00.webp') no-repeat scroll center center transparent !important;
}

.c064_01 .background{
    background: url('../static/images/chara/c064_01.webp') no-repeat scroll center center transparent !important;
}

.c064_02 .background{
    background: url('../static/images/chara/c064_02.webp') no-repeat scroll center center transparent !important;
}

.c064_88 .background{
    background: url('../static/images/chara/c064_88.webp') no-repeat scroll center center transparent !important;
}

.c064_89 .background{
    background: url('../static/images/chara/c064_89.webp') no-repeat scroll center center transparent !important;
}

.c065_00 .background{
    background: url('../static/images/chara/c065_00.webp') no-repeat scroll center center transparent !important;
}

.c065_01 .background{
    background: url('../static/images/chara/c065_01.webp') no-repeat scroll center center transparent !important;
}

.c065_02 .background{
    background: url('../static/images/chara/c065_02.webp') no-repeat scroll center center transparent !important;
}

.c066_00 .background{
    background: url('../static/images/chara/c066_00.webp') no-repeat scroll center center transparent !important;
}

.c066_01 .background{
    background: url('../static/images/chara/c066_01.webp') no-repeat scroll center center transparent !important;
}

.c066_02 .background{
    background: url('../static/images/chara/c066_02.webp') no-repeat scroll center center transparent !important;
}

.c067_00 .background{
    background: url('../static/images/chara/c067_00.webp') no-repeat scroll center center transparent !important;
}

.c067_01 .background{
    background: url('../static/images/chara/c067_01.webp') no-repeat scroll center center transparent !important;
}

.c067_02 .background{
    background: url('../static/images/chara/c067_02.webp') no-repeat scroll center center transparent !important;
}

.c068_00 .background{
    background: url('../static/images/chara/c068_00.webp') no-repeat scroll center center transparent !important;
}

.c068_01 .background{
    background: url('../static/images/chara/c068_01.webp') no-repeat scroll center center transparent !important;
}

.c068_02 .background{
    background: url('../static/images/chara/c068_02.webp') no-repeat scroll center center transparent !important;
}

.c069_00 .background{
    background: url('../static/images/chara/c069_00.webp') no-repeat scroll center center transparent !important;
}

.c069_01 .background{
    background: url('../static/images/chara/c069_01.webp') no-repeat scroll center center transparent !important;
}

.c069_02 .background{
    background: url('../static/images/chara/c069_02.webp') no-repeat scroll center center transparent !important;
}

.c070_00 .background{
    background: url('../static/images/chara/c070_00.webp') no-repeat scroll center center transparent !important;
}

.c070_01 .background{
    background: url('../static/images/chara/c070_01.webp') no-repeat scroll center center transparent !important;
}

.c070_02 .background{
    background: url('../static/images/chara/c070_02.webp') no-repeat scroll center center transparent !important;
}

.c072_00 .background{
    background: url('../static/images/chara/c072_00.webp') no-repeat scroll center center transparent !important;
}

.c072_01 .background{
    background: url('../static/images/chara/c072_01.webp') no-repeat scroll center center transparent !important;
}

.c072_02 .background{
    background: url('../static/images/chara/c072_02.webp') no-repeat scroll center center transparent !important;
}

.c073_00 .background{
    background: url('../static/images/chara/c073_00.webp') no-repeat scroll center center transparent !important;
}

.c073_01 .background{
    background: url('../static/images/chara/c073_01.webp') no-repeat scroll center center transparent !important;
}

.c073_02 .background{
    background: url('../static/images/chara/c073_02.webp') no-repeat scroll center center transparent !important;
}

.c074_00 .background{
    background: url('../static/images/chara/c074_00.webp') no-repeat scroll center center transparent !important;
}

.c074_01 .background{
    background: url('../static/images/chara/c074_01.webp') no-repeat scroll center center transparent !important;
}

.c074_02 .background{
    background: url('../static/images/chara/c074_02.webp') no-repeat scroll center center transparent !important;
}

.c075_00 .background{
    background: url('../static/images/chara/c075_00.webp') no-repeat scroll center center transparent !important;
}

.c075_01 .background{
    background: url('../static/images/chara/c075_01.webp') no-repeat scroll center center transparent !important;
}

.c075_02 .background{
    background: url('../static/images/chara/c075_02.webp') no-repeat scroll center center transparent !important;
}

.c081_00 .background{
    background: url('../static/images/chara/c081_00.webp') no-repeat scroll center center transparent !important;
}

.c081_01 .background{
    background: url('../static/images/chara/c081_01.webp') no-repeat scroll center center transparent !important;
}

.c081_02 .background{
    background: url('../static/images/chara/c081_02.webp') no-repeat scroll center center transparent !important;
}

.c082_00 .background{
    background: url('../static/images/chara/c082_00.webp') no-repeat scroll center center transparent !important;
}

.c082_01 .background{
    background: url('../static/images/chara/c082_01.webp') no-repeat scroll center center transparent !important;
}

.c082_02 .background{
    background: url('../static/images/chara/c082_02.webp') no-repeat scroll center center transparent !important;
}

.c083_00 .background{
    background: url('../static/images/chara/c083_00.webp') no-repeat scroll center center transparent !important;
}

.c083_01 .background{
    background: url('../static/images/chara/c083_01.webp') no-repeat scroll center center transparent !important;
}

.c083_02 .background{
    background: url('../static/images/chara/c083_02.webp') no-repeat scroll center center transparent !important;
}

.c085_00 .background{
    background: url('../static/images/chara/c085_00.webp') no-repeat scroll center center transparent !important;
}

.c085_01 .background{
    background: url('../static/images/chara/c085_01.webp') no-repeat scroll center center transparent !important;
}

.c085_02 .background{
    background: url('../static/images/chara/c085_02.webp') no-repeat scroll center center transparent !important;
}

.c086_00 .background{
    background: url('../static/images/chara/c086_00.webp') no-repeat scroll center center transparent !important;
}

.c086_01 .background{
    background: url('../static/images/chara/c086_01.webp') no-repeat scroll center center transparent !important;
}

.c086_02 .background{
    background: url('../static/images/chara/c086_02.webp') no-repeat scroll center center transparent !important;
}

.c087_00 .background{
    background: url('../static/images/chara/c087_00.webp') no-repeat scroll center center transparent !important;
}

.c087_01 .background{
    background: url('../static/images/chara/c087_01.webp') no-repeat scroll center center transparent !important;
}

.c087_02 .background{
    background: url('../static/images/chara/c087_02.webp') no-repeat scroll center center transparent !important;
}

.c090_00 .background{
    background: url('../static/images/chara/c090_00.webp') no-repeat scroll center center transparent !important;
}

.c090_01 .background{
    background: url('../static/images/chara/c090_01.webp') no-repeat scroll center center transparent !important;
}

.c090_02 .background{
    background: url('../static/images/chara/c090_02.webp') no-repeat scroll center center transparent !important;
}

.c091_00 .background{
    background: url('../static/images/chara/c091_00.webp') no-repeat scroll center center transparent !important;
}

.c091_01 .background{
    background: url('../static/images/chara/c091_01.webp') no-repeat scroll center center transparent !important;
}

.c091_02 .background{
    background: url('../static/images/chara/c091_02.webp') no-repeat scroll center center transparent !important;
}

.c092_01 .background{
    background: url('../static/images/chara/c092_01.webp') no-repeat scroll center center transparent !important;
}

.c092_02 .background{
    background: url('../static/images/chara/c092_02.webp') no-repeat scroll center center transparent !important;
}

.c095_00 .background{
    background: url('../static/images/chara/c095_00.webp') no-repeat scroll center center transparent !important;
}

.c095_01 .background{
    background: url('../static/images/chara/c095_01.webp') no-repeat scroll center center transparent !important;
}

.c095_02 .background{
    background: url('../static/images/chara/c095_02.webp') no-repeat scroll center center transparent !important;
}

.c099_00 .background{
    background: url('../static/images/chara/c099_00.webp') no-repeat scroll center center transparent !important;
}

.c099_01 .background{
    background: url('../static/images/chara/c099_01.webp') no-repeat scroll center center transparent !important;
}

.c099_02 .background{
    background: url('../static/images/chara/c099_02.webp') no-repeat scroll center center transparent !important;
}

.c101_00 .background{
    background: url('../static/images/chara/c101_00.webp') no-repeat scroll center center transparent !important;
}

.c101_01 .background{
    background: url('../static/images/chara/c101_01.webp') no-repeat scroll center center transparent !important;
}

.c101_02 .background{
    background: url('../static/images/chara/c101_02.webp') no-repeat scroll center center transparent !important;
}

.c101_10 .background{
    background: url('../static/images/chara/c101_10.webp') no-repeat scroll center center transparent !important;
}

.c106_01 .background{
    background: url('../static/images/chara/c106_01.webp') no-repeat scroll center center transparent !important;
}

.c106_02 .background{
    background: url('../static/images/chara/c106_02.webp') no-repeat scroll center center transparent !important;
}

.c107_00 .background{
    background: url('../static/images/chara/c107_00.webp') no-repeat scroll center center transparent !important;
}

.c107_01 .background{
    background: url('../static/images/chara/c107_01.webp') no-repeat scroll center center transparent !important;
}

.c107_02 .background{
    background: url('../static/images/chara/c107_02.webp') no-repeat scroll center center transparent !important;
}

.c107_10 .background{
    background: url('../static/images/chara/c107_10.webp') no-repeat scroll center center transparent !important;
}

.c109_01 .background{
    background: url('../static/images/chara/c109_01.webp') no-repeat scroll center center transparent !important;
}

.c109_02 .background{
    background: url('../static/images/chara/c109_02.webp') no-repeat scroll center center transparent !important;
}

.c110_00 .background{
    background: url('../static/images/chara/c110_00.webp') no-repeat scroll center center transparent !important;
}

.c110_01 .background{
    background: url('../static/images/chara/c110_01.webp') no-repeat scroll center center transparent !important;
}

.c110_02 .background{
    background: url('../static/images/chara/c110_02.webp') no-repeat scroll center center transparent !important;
}

.c110_10 .background{
    background: url('../static/images/chara/c110_10.webp') no-repeat scroll center center transparent !important;
}

.c112_00 .background{
    background: url('../static/images/chara/c112_00.webp') no-repeat scroll center center transparent !important;
}

.c112_01 .background{
    background: url('../static/images/chara/c112_01.webp') no-repeat scroll center center transparent !important;
}

.c112_02 .background{
    background: url('../static/images/chara/c112_02.webp') no-repeat scroll center center transparent !important;
}

.c113_00 .background{
    background: url('../static/images/chara/c113_00.webp') no-repeat scroll center center transparent !important;
}

.c115_00 .background{
    background: url('../static/images/chara/c115_00.webp') no-repeat scroll center center transparent !important;
}

.c115_01 .background{
    background: url('../static/images/chara/c115_01.webp') no-repeat scroll center center transparent !important;
}

.c115_02 .background{
    background: url('../static/images/chara/c115_02.webp') no-repeat scroll center center transparent !important;
}

.c116_00 .background{
    background: url('../static/images/chara/c116_00.webp') no-repeat scroll center center transparent !important;
}

.c116_01 .background{
    background: url('../static/images/chara/c116_01.webp') no-repeat scroll center center transparent !important;
}

.c116_02 .background{
    background: url('../static/images/chara/c116_02.webp') no-repeat scroll center center transparent !important;
}

.c117_00 .background{
    background: url('../static/images/chara/c117_00.webp') no-repeat scroll center center transparent !important;
}

.c117_01 .background{
    background: url('../static/images/chara/c117_01.webp') no-repeat scroll center center transparent !important;
}

.c117_02 .background{
    background: url('../static/images/chara/c117_02.webp') no-repeat scroll center center transparent !important;
}

.c120_00 .background{
    background: url('../static/images/chara/c120_00.webp') no-repeat scroll center center transparent !important;
}

.c120_01 .background{
    background: url('../static/images/chara/c120_01.webp') no-repeat scroll center center transparent !important;
}

.c120_02 .background{
    background: url('../static/images/chara/c120_02.webp') no-repeat scroll center center transparent !important;
}

.c121_00 .background{
    background: url('../static/images/chara/c121_00.webp') no-repeat scroll center center transparent !important;
}

.c121_01 .background{
    background: url('../static/images/chara/c121_01.webp') no-repeat scroll center center transparent !important;
}

.c121_02 .background{
    background: url('../static/images/chara/c121_02.webp') no-repeat scroll center center transparent !important;
}

.c122_00 .background{
    background: url('../static/images/chara/c122_00.webp') no-repeat scroll center center transparent !important;
}

.c122_01 .background{
    background: url('../static/images/chara/c122_01.webp') no-repeat scroll center center transparent !important;
}

.c122_02 .background{
    background: url('../static/images/chara/c122_02.webp') no-repeat scroll center center transparent !important;
}

.c122_10 .background{
    background: url('../static/images/chara/c122_10.webp') no-repeat scroll center center transparent !important;
}

.c123_00 .background{
    background: url('../static/images/chara/c123_00.webp') no-repeat scroll center center transparent !important;
}

.c123_01 .background{
    background: url('../static/images/chara/c123_01.webp') no-repeat scroll center center transparent !important;
}

.c123_02 .background{
    background: url('../static/images/chara/c123_02.webp') no-repeat scroll center center transparent !important;
}

.c124_00 .background{
    background: url('../static/images/chara/c124_00.webp') no-repeat scroll center center transparent !important;
}

.c124_01 .background{
    background: url('../static/images/chara/c124_01.webp') no-repeat scroll center center transparent !important;
}

.c124_02 .background{
    background: url('../static/images/chara/c124_02.webp') no-repeat scroll center center transparent !important;
}

.c124_10 .background{
    background: url('../static/images/chara/c124_10.webp') no-repeat scroll center center transparent !important;
}

.c124_11 .background{
    background: url('../static/images/chara/c124_11.webp') no-repeat scroll center center transparent !important;
}

.c124_12 .background{
    background: url('../static/images/chara/c124_12.webp') no-repeat scroll center center transparent !important;
}

.c125_00 .background{
    background: url('../static/images/chara/c125_00.webp') no-repeat scroll center center transparent !important;
}

.c125_01 .background{
    background: url('../static/images/chara/c125_01.webp') no-repeat scroll center center transparent !important;
}

.c125_02 .background{
    background: url('../static/images/chara/c125_02.webp') no-repeat scroll center center transparent !important;
}

.c125_10 .background{
    background: url('../static/images/chara/c125_10.webp') no-repeat scroll center center transparent !important;
}

.c125_89 .background{
    background: url('../static/images/chara/c125_89.webp') no-repeat scroll center center transparent !important;
}

.c126_00 .background{
    background: url('../static/images/chara/c126_00.webp') no-repeat scroll center center transparent !important;
}

.c126_01 .background{
    background: url('../static/images/chara/c126_01.webp') no-repeat scroll center center transparent !important;
}

.c126_02 .background{
    background: url('../static/images/chara/c126_02.webp') no-repeat scroll center center transparent !important;
}

.c127_00 .background{
    background: url('../static/images/chara/c127_00.webp') no-repeat scroll center center transparent !important;
}

.c127_01 .background{
    background: url('../static/images/chara/c127_01.webp') no-repeat scroll center center transparent !important;
}

.c127_02 .background{
    background: url('../static/images/chara/c127_02.webp') no-repeat scroll center center transparent !important;
}

.c127_10 .background{
    background: url('../static/images/chara/c127_10.webp') no-repeat scroll center center transparent !important;
}

.c128_00 .background{
    background: url('../static/images/chara/c128_00.webp') no-repeat scroll center center transparent !important;
}

.c128_01 .background{
    background: url('../static/images/chara/c128_01.webp') no-repeat scroll center center transparent !important;
}

.c128_02 .background{
    background: url('../static/images/chara/c128_02.webp') no-repeat scroll center center transparent !important;
}

.c129_00 .background{
    background: url('../static/images/chara/c129_00.webp') no-repeat scroll center center transparent !important;
}

.c129_01 .background{
    background: url('../static/images/chara/c129_01.webp') no-repeat scroll center center transparent !important;
}

.c129_02 .background{
    background: url('../static/images/chara/c129_02.webp') no-repeat scroll center center transparent !important;
}

.c130_00 .background{
    background: url('../static/images/chara/c130_00.webp') no-repeat scroll center center transparent !important;
}

.c130_01 .background{
    background: url('../static/images/chara/c130_01.webp') no-repeat scroll center center transparent !important;
}

.c130_02 .background{
    background: url('../static/images/chara/c130_02.webp') no-repeat scroll center center transparent !important;
}

.c131_00 .background{
    background: url('../static/images/chara/c131_00.webp') no-repeat scroll center center transparent !important;
}

.c131_01 .background{
    background: url('../static/images/chara/c131_01.webp') no-repeat scroll center center transparent !important;
}

.c131_02 .background{
    background: url('../static/images/chara/c131_02.webp') no-repeat scroll center center transparent !important;
}

.c132_00 .background{
    background: url('../static/images/chara/c132_00.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}

.change .background{
    background: url('../static/images/chara/change.webp') no-repeat scroll center center transparent !important;
}




