@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "title title footer" "main main main";
 }
  @media screen and (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas: "header" "title" "main" "footer";
   }
 }
  .grid-item {
    color: #fff;
    padding: 0;
    font-size: 1em;
    font-weight: 700;
 }
  .header {
    background-color: #092a37;
    grid-area: header;
    padding: 1em;
 }
  .title {
    color: #555;
    background-color: #f4fbfd;
    grid-area: title;
 }
  .main {
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
 }
  .footer {
    grid-area: footer;
    padding: 0.6em;
 }
  .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
 }
  .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
 }
  .item {
    display: inline-block;
    min-height: 150px;
    margin:0;
 }
  @media screen and (max-width: 500px) {
    .item {
      min-height: 170px;
      min-width: 170px;
   }
 }
}
a {
  color: #f36b35;
  text-decoration: underline;
  margin: 1em auto;
}
a:hover {
  cursor: pointer;
}
p {
  text-align: left;
}
i {
  color: skyblue;
}